@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

header {
  background-color: #313131;
}

.logo {
  width: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.logo-1 {
  display: none;
}

nav a {
  display: block;
  text-align: center;
}

nav .current {
  background-color: #FC496C;
}

nav a:hover {
  background-color: #FC496C;
  transition: all .3s ease;
}

.nav {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

li a {
  text-decoration: none;
  color: #fff;
  padding: .5rem 0;
}

.feast-banner {
  display: none;
}

.banner-text {
  color: #000;
  background-color: #00BBB8;
  padding: 3rem 1rem;
}

.buy,
.banner-text a {
  text-decoration: none;
  color: #000;
  background-color: #FC496C;
  border-radius: 25px;
  transition: all .3s ease;
}

.buy {
  padding: .75rem 1rem;
}

.banner-text a{
  padding: 1rem;
}

.banner h1 {
  margin-top: 0;
}

.banner p {
  margin-bottom: 2rem;
}

.buy:hover,
.banner-text a:hover {
  background-color: #C93B57;
}

.content h2,
.content p {
  margin: .5rem 1rem;
}

.speakers h2 {
  margin-top: 2rem;
}

p {
  font-family: Raleway, sans-serif;
}

.content h2 {
  color: #FC496C;
  text-align: center;
}

.chef-img {
  position: relative;
}

.chef-name {
  position: absolute;
  z-index: 2;
  background-color: #00BBB8;
  color: #313131;
  padding: 1rem;
  left: 20%;
  transform: translateX(-20%);
}

.name {
  font-weight: 600;
}

.chef-1,
.chef-2,
.chef-3,
.chef-4 {
  position: relative;
  bottom: 50px;
}

footer {
  background-color: #313131;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer img {
  width: 60px;
  padding-left: 1rem;
}

footer h3 {
  margin-bottom: 0;
  font-size: 1.125rem;
}

footer p {
  margin-bottom: 0;
  margin-left: 0;
  font-size: .8rem;
}

.last {
  margin-bottom: 1.5rem;
}

.ticket-header {
  text-align: center;
}

.ticket-header h1 {
  margin-top: 2rem;
  font-weight: 900;
}

.pass-info {
  margin-left: .5rem;
  margin-right: .5rem;
}

.icon {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.card-1 p,
.card-2 p,
.card-3 p {
  text-align: center;
  margin-bottom: .5rem;
  color: #00BBB8;
  position: relative;
}

.card-1 h2,
.card-2 h2,
.card-3 h2 {
  text-align: center;
  margin-bottom: 0;
  color: #00BBB8;
  position: relative;
}

.buy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card-1,
.card-2,
.card-3 {
  padding-bottom: 5rem;
  border: solid 3px #FC496C;
  margin: 1rem;
}

.card li {
  font-family: Raleway, sans-serif;
  margin: 0 .5rem;
}

.card p {
  font-weight: 600;
}

.event-info h1 {
  margin-top: 1rem;
  text-align: center;
  color: #00BBB8;
  font-weight: 900;
}

.celebrate p {
  margin: 0 1rem 1rem 1rem;
}

.info {
  background-color: #FC496C;
  padding: 1rem;
}

.info h2,
.sponsors h3 {
  text-align: center;
  font-weight: 900;
  margin-bottom: .5rem;
}

.info h2,
.info p {
  color: #fff;
}

.info p {
  margin-bottom: 2.5rem;
}

.info h2:first-child {
  margin-top: 2rem;
}

.info a {
  color: #fff;
  font-weight: 600;
  transition: all .3s ease;
}

.info a:hover {
  color: #313131;
}

.sponsors h3 {
  margin-top: 2rem;
  color: #00BBB8;
}

.sponsors p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sponsor-img {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.img1,
.img2,
.img3,
.img4 {
  padding: 1rem;
}

@media only screen and (min-width: 25em) {

.img1,
.img2,
.img3,
.img4 {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 38em) {

nav .current {
  background-color: transparent;
}

.banner h1,
.banner p {
  padding-left: 3rem;
  padding-right: 3rem;
}

.banner a {
  margin-left: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.pass-info {
  margin-left: 2rem;
  margin-right: 2rem;
}

.donuts {
  object-fit: cover;
  height: 300px;
}

.celebrate,
.info,
.sponsors {
  padding-left: 3rem;
  padding-right: 3rem;
}

}

@media only screen and (min-width: 60em) {

.logo {
  margin-left: 0;
  padding: 0;
}

.logo-1 {
  display: block;
  width: 150%;
}

.logo-2 {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
}

.nav {
  padding-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  transition: all .3s ease;
  padding: .25rem 1rem;
  border-radius: 25px;
}

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feast-banner {
  display: block;
  grid-column: 2;
  grid-row: 1;
  object-fit: cover;
  max-height: 500px;
}

.banner-text h1,
.banner-text p {
  padding-left: 0;
}

.banner-text a {
  margin-left: 0;
}

.banner-text {
  padding: 4rem 3rem 2rem 3rem;
  grid-column: 1;
  grid-row: 1;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  grid-template-areas:
  ". a a b b ."
}

.about-us-img {
  margin-top: 6rem;
  grid-column: 2 / 3;
  grid-row: 1;
  grid-area: a;
}

.about-us-text {
  grid-column: 4 / 5;
  grid-row: 1;
  grid-area: b;
}

.about-us h2 {
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.about-us p {
  margin-left: 0;
  margin-right: 0;
}

.speakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  ". c c c c ."
  ". d e f g ."
}

.speakers h2 {
  text-align: left;
  grid-column: 2 / 5;
  grid-row: 2;
  margin: 1rem 0 0 0;
  grid-area: c;
}

.chef-name {
  padding: .25rem 0;
}

.chef-david {
  grid-column: 2;
  grid-row: 3;
  grid-area: d;
}

.chef-joseph {
  grid-column: 3;
  grid-row: 3;
  grid-area: e;
}

.chef-maria {
  grid-column: 4;
  grid-row: 3;
  grid-area: f;
}

.chef-dorothy {
  grid-column: 5;
  grid-row: 3;
  grid-area: g;
}

.chef-1,
.chef-2,
.chef-3,
.chef-4 {
  bottom: 20px;
}

.tickets {
  display: flex;
  padding: 2rem;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: .5rem;
  margin-right: .5rem;
  padding-bottom: 2rem;
}

.buy {
  position: static;
  transform: none;
  width: 70%;
  text-align: center;
  align-self: center;

}

.celebrate,
.info,
.sponsors {
  padding-left: 10rem;
  padding-right: 10rem;
}

.sponsor-img {
  margin-bottom: 2rem;
}

footer {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.hours {
  padding-left: 1rem;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

.address {
  padding-right: 1rem;
  grid-column: 6;
  grid-row: 1;
  text-align: right;
}

.last {
  margin-bottom: 0;
}

.social-media {
  grid-column: 6;
  grid-row: 2;
}

.social-media img {
  padding-left: .5rem;
  width: 20%;
}

}
