@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

header {
  background-color: #313131;
}

.logo {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  display: block;
  text-align: center;
}

nav a:hover {
  background-color: #FC496C;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

li a {
  text-decoration: none;
  color: #fff;
  padding: .5rem 0;
}


.feast-banner {
  display: none;
}

.banner-text {
  color: #fff;
  background-color: #00BBB8;
  padding: 3rem 1rem;
}

.banner-text a {
  text-decoration: none;
  color: #fff;
  background-color: #FC496C;
  padding: 1rem;
  border-radius: 25px;
}

.banner h2 {
  margin-top: 0;
}

.banner p {
  margin-bottom: 2rem;
}

.banner-text a:hover {
  background-color: #C93B57;
}

.content h2,
.content p {
  margin: .5rem 1rem;
  font-family: Raleway, sans-serif;
}

.content h2 {
  color: #FC496C;
}

.chef-img {
  position: relative;
}

.chef-name {
  position: absolute;
  z-index: 2;
  background-color: #00BBB8;
  color: #fff;
  padding: 1rem;
  left: 20%;
  transform: translateX(-20%);
}

.name {
  font-weight: 600;
}

.david {
  position: relative;
  bottom: 50px;
}

.wolfgang {
  position: relative;
  bottom: 50px;
}

.samin {
  position: relative;
  bottom: 50px;
}

footer {
  background-color: #313131;
  color: #fff;
  padding: 1rem;
}

footer img {
  width: 60px;
  padding-left: 1rem;
}

@media only screen and (min-width: 60em) {

  .feast-banner {
    display: block;
    position: absolute;
  }

  .banner-text {
    background: none;
    position: relative;
    padding: 10rem 3rem;
  }

}
